* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: #2D303D;
    display: flex;
    /* Добавить ссылку на flex-ы */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Добавить ссылку на единицы измерений в css */
    /* Добавить ссылку на позиционирование элементов */
}

.calculator {
    background-color: #343745;
    color: #FFFFFF;
    padding: 44px 40px 36px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.calc-app__new-calc {
    /*width: 100%;*/
    display: flex;
}

.calc-app__new-calc-value {
    background-color: #DFE3EA;
    border: none;
    outline: none;
    width: 200px;
    font-size: 28px;
    color: #383A3E;
    padding-left: 16px;
    padding-top: 16px;
    border-radius: 8px 8px 0px 0px;
    height: 60px;
}

.calc-app__button_numbers {
    background-color: #FDFDFF;
    border: 1px solid #D0D3DA;
    outline: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    color: #383A3E;
}

.calc-app__button_numbers:hover {
    background-color: #E9E9EB;
    border: 1px solid #CACED4;
}

.calc-app__button_ops {
    background-color: #FDFDFF;
    border: 1px solid #D0D3DA;
    outline: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    color: #787C85;
}

.calc-app__button_ops:hover {
    background-color: #E9E9EB;
    border: 1px solid #CACED4;
}

.calc-app__button_C {
    background-color: #FDFDFF;
    border: 1px solid #D0D3DA;
    outline: none;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    color: #6481D3;
}

.calc-app__button_C:hover {
    background-color: #E9E9EB;
    border: 1px solid #CACED4;
    color: #4666BF;
}

#zero {
    background-color: #FDFDFF;
    border: 1px solid #D0D3DA;
    outline: none;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 0px 0px 0px 8px;
    color: #383A3E;
}

#zero:hover {
    background-color: #E9E9EB;
    border: 1px solid #CACED4;
}

.calc-app__button_equel {
    background-color: #6481D3;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 0px 0px 8px 0px;
    color: #FDFDFF;
}

.calc-app__button_equel:hover {
    background-color: #4666BF;
}
